@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth !important;
}

body.modal-open {
  overflow: hidden;
}

.description h1 {
  font-size: 1.75rem !important;
  line-height: 1.5 !important;
  font-weight: bold !important;
  margin-bottom: 0.75rem !important;
  color: #222222;
}

.description h2 {
  font-size: 1.5rem !important;
  line-height: 1.4 !important;
  font-weight: bold !important;
  margin-bottom: 0.5rem !important;
  color: #333333;
}

.description h3 {
  font-size: 1.25rem !important;
  line-height: 1.5 !important;
  font-weight: bold !important;
  margin-bottom: 0.5rem !important;
  color: #444444;
}

.description p {
  text-align: justify;
  font-size: 1rem !important;
  line-height: 1.6 !important;
  color: #555555;
  margin-bottom: 0.75rem;
}
table .description h1 {
  font-size: 1.5rem !important;
  line-height: 1.25 !important;
  font-weight: bold !important;
  margin-bottom: 0.5rem !important;
  color: #222222;
}

table .description h2 {
  font-size: 1.25rem !important;
  line-height: 1.2 !important;
  font-weight: bold !important;
  margin-bottom: 0.25rem !important;
  color: #333333;
}

table .description h3 {
  font-size: 1rem !important;
  line-height: 1.25 !important;
  font-weight: bold !important;
  margin-bottom: 0.25rem !important;
  color: #444444;
}

table .description p {
  text-align: justify;
  font-size: 0.8rem !important;
  line-height: 1.4 !important;
  color: #555555;
  margin-bottom: 0.5rem;
}

path.dot_stripe_svg__color {
  @apply fill-primary-color/10;
}
path.craftsman_svg__color {
  @apply fill-gray-600;
}
path.customizeIcon_svg__color {
  @apply fill-gray-600;
}
path.furniIcon_svg__color {
  @apply fill-gray-600;
}
path.installationIcon_svg__color {
  @apply fill-gray-600;
}

.loader-dots div {
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.loader-dots div:nth-child(1) {
  left: 8px;
  animation: loader-dots1 0.6s infinite;
}
.loader-dots div:nth-child(2) {
  left: 8px;
  animation: loader-dots2 0.6s infinite;
}
.loader-dots div:nth-child(3) {
  left: 32px;
  animation: loader-dots2 0.6s infinite;
}
.loader-dots div:nth-child(4) {
  left: 56px;
  animation: loader-dots3 0.6s infinite;
}
@keyframes loader-dots1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes loader-dots3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes loader-dots2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

.mySwiper .swiper-slide .my-swiper-slide-active {
  background-color: black;
  opacity: 50%;
}

.mySwiper .swiper-slide-thumb-active .my-swiper-slide-active {
  opacity: 0;
}
.mySwiper .my-swiper-slide-active:hover {
  opacity: 0;
  cursor: pointer;
}
